<br>
<nav class="nav navbar-default container">
  <ul class="nav navbar-nav">
    <li routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Query</a></li>
    <li routerLinkActive="activeMenu"><a routerLink="/mapping">Generate Mapping</a></li>
    <li routerLinkActive="activeMenu"><a routerLink="/merge">Merge Mapping</a></li>
    <li routerLinkActive="activeMenu"><a routerLink="/edit-mapping">Edit Mapping</a></li>
  </ul>
</nav>
<p>&nbsp;</p>
<div class="container">
  <router-outlet></router-outlet>
  <span defaultOverlayTarget></span>
</div>
