<div class="jumbotron">
  <h1>POLDO</h1>
  <h2>Exposing the Deep Web in the Linked Data Cloud</h2>
</div>
<nav class="nav navbar-default">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Query</a></li>
    <li routerLinkActive="active"><a routerLink="/mapping">Generate Mapping</a></li>
    <li routerLinkActive="active"><a routerLink="/merge">Merge Mapping</a></li>
    <li routerLinkActive="active"><a routerLink="/edit-mapping">Edit Mapping</a></li>
  </ul>
</nav>
<p>&nbsp;</p>
<router-outlet></router-outlet>
<span defaultOverlayTarget></span>
